* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  color: var(--yellow);
}

.button_active {
  background-color: #242a35;
  outline: none;
  border-radius: 20px;
  color: #fff;
}

body {
  width: 100%;
  height: calc(100vh - 56px);
}

.main_container {
  background-image: url(../../assets/Tuan5/Bai2/images/hero-bg.jpg) !important;
}
.card {
  background-color: #242a35 !important;
}

.form-control:focus {
  border: none;
  outline: 1px solid var(--yellow) !important;
  box-shadow: none;
}
