* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.container {
    width: fit-content;
    margin: auto;
    border: 1px solid #92BDE3;
    padding: 16px;
}

.form {
    width: 100%;
    margin: 0 auto;
}

.fieldset {
    padding: 12px;
    margin-bottom: 12px;
}

.form_section {
    margin: 8px 0;
}

.label {
    text-align: left;
    display: inline-block;
    width: 200px;
}

.input {
    width: 300px;
    padding: 4px 8px;
}

.message_section {
    display: flex;
    align-items: center;
}

.comment {
    width: 400px;
    height: 100px;
    margin-left: 4px;
    padding: 4px 8px;
}

.checkbox_section {
    display: flex;
}

.btn {
    padding: 8px 12px;
}